@import '../../variables.css';

header {
	background-color: var(--headerBackground);
	height: var(--headerHeight);
	position: fixed;
	width: 100%;
	top: 0;
	
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.3);
	
	a {
		text-decoration: none;
	}
	h1 {
		color: var(--headerColor);
		font-size: calc(var(--headerHeight) / 2);
		margin: 0 0 0 10px;
		line-height: var(--headerHeight);
		display: inline-block;
	}
}

main {
	box-sizing: border-box;
	height: 100%;
}

.layout-forkme {
	position: fixed;
	top: 42px;
	right: -43px;
	display: inline-block;
	
	transform: rotate(45deg);
	
	padding: 2px;
	
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	
	background-color: #333;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
	
	a,
	a:hover {
		color: #fff;
		text-align: center;

		width: 200px;
		line-height: 20px;
		font-size: 12px;
		
		display: inline-block;
		padding: 2px;

		border: 1px dashed rgba(255, 255, 255, 0.7);
	}
}
